div.nav {
	padding: 5px 5px 0 0;
	margin: 0
	}
	
div.nav a {
	padding: 0 2px;
	}

	
div.content {
	padding:0 1%;
}

div.logo img {
margin-left: auto;
margin-right: auto;
display: block;
}

div.slogan {
margin: auto;
padding:10px;
}

div.flex-child_icon img {
margin: auto;
padding:3px;
display:block;
}

div.flex-child_descriptions {
	margin: auto;
	padding-bottom:2%
}

div.flex-parent_icons {
margin:auto;
padding:2%;}

div.flex-child_description_h {
margin: 0 0 0 1%}

p.description_p {
margin: auto;
line-height:1.4}

input.upload_button {
	padding: 1% 4% 1% 4%;
}

div.upload_button {
	padding:1%;
	text-align:center;
}

div.dots p {
margin:0;
padding:0}

div.results_section {
	margin: 0 0 2% 0;
}

div.flex-child_tmx {
min-width:70%}

div.tm_table {margin:3px;
line-height:1.4}
div.tm_row {margin:3px;}
div.tm_cell_1 {padding: 1%}
div.tm_cell_2 {padding: 1%}

div.tb_table {
	padding: 2%;
	}
div.tb_row {
margin:0%;
padding:0%;
}

div.tb_cell {
	margin: 0px 0;
	padding:1%;
}
div.tb_cell {

	white-space: wrap;
	overflow: ;
	text-overflow: ellipsis;
}

div.download {
	margin-top:1%;
	padding: 1%;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

h5.tm_title {margin:1%;}
h5.tb_title {margin:2%;}

div.patreon img {
	margin:auto;
	display:block;
}
	
div.footer {padding:1px;}

