
/*flexes*/
div.flex-parent_logo {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

div.logo {
	flex:1;
}

div.slogan {
	flex:8;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 

div.descriptions {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

div.flex-child_phone {
flex:2
}

div.flex-child_descriptions {
flex:7
}


div.flex-parent_icons {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

div.flex-child_icon {
	flex: 1
	}
div.flex-child_description_h {
	flex: 7
}


div.flex-parent_tm_tb {
	display:flex;
	}
	
	div.flex-child_tm {
		flex:6
	}

		div.tm_row {
			display:flex
		}
			div.tm_cell_1 {
			flex:2
			}
			div.tm_cell_2 {
			flex:2
			}


	div.flex-child_tb {
		flex:3
	}
		div.tb_row {
			display:flex;
		}
			div.tb_cell {
			flex:2;
			
			width:100%;
			}

