/*Body*/
/* div {
	border: 1px solid red; padding: 0px;
	}

img {
	border: 1px solid red; padding: 0px;
	}
	
p {
	border: 1px solid red; padding: 0px;
	}	
 */

body {
	font-family:"Arial";
	background:#d9d9d9;
}

/*Nav*/
div.nav {
	background-color: #ffffff;
	border-bottom: 1px solid #f2f2f2;
	text-align:right;
	letter-spacing:1px;
	padding: 15px 3%;
	margin: 0;
	font-size:120%
	}
	
div.nav a {
	color: #a6a6a6;
	text-decoration:none;
	padding: 0;
	}
	
/*Content*/
div.content {
	padding:0 2% 1% 0;
	background-color: #ffffff;
}

/*Logo*/

h1 {
	padding:0;
	margin:0
}

div.flex-parent_logo {
	padding: 0 0 5px 0;
	margin: 0;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

div.logo {
	flex:1;
	/*margin:0 20px;*/
	/*padding:0 0 10px 0;*/
	margin: auto;
	padding: 0 2%;
}

div.logo img {
	margin:auto;
	display: block;
	border: 0px
}

div.slogan {
	flex:8;
	margin: auto;
	font-size:100%;
	font-weight:normal;
	letter-spacing:1px;
	padding: 0 1%;
	min-width:55%
}

/*Descriptions*/
div.descriptions {
	padding: 0 1% 1% 0;
	margin: auto;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	background-color:#39b4bb;
	color:#ffffff;
}

div.flex-child_phone {
	flex:1;
	margin-top:0;
	margin-bottom:0;
	margin: 0 2% 0 4%;
}

div.flex-child_phone img {
	margin:auto;
	display: block;
	
}

div.flex-child_descriptions {
	flex:8;
	margin-top:auto;
	margin-bottom:auto;
	min-width:50%;
	padding: 1% 1% 0 1%;
}

div.flex-parent_icons {
	margin: 0;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	padding:2% 0%;
}

div.flex-child_icon {
	flex: 1;
	padding: 0 0;
	}
	
div.flex-child_icon img {
	margin: auto;
	display:block;
}

div.flex-child_description_h {
	margin: 0 ;
	flex: 11;
	min-width:75%;
	padding: 0 2%;
}

div.flex-child_description_h  h4 {
	font-size:115%;
	margin:1% 0;
	line-height:1.4;
}

div.flex-child_description_h p {
	font-size:100%
}

div.description {
	font-size:120%;
	font-weight:normal;
	letter-spacing:1px;
}

p.description_p {
	margin: auto;
	line-height:1.7;
	font-size:100%;
}

/*Upload section*/

div.upload_section {
	border:1px solid #f2f2f2;
	font-size:130%
}

div.upload_section h3 {

}

input.upload_button {
	padding: 1% 4% 1% 4%;
	
	background: #39b4bb;
	color: #ffffff;
	font-size:105%;
	letter-spacing:1px;
	border:0px;
}

input.upload_button:active {
    background:#A1E4E6
}

div.upload_button {
	padding:1%;
	text-align:center;
	font-weight:bold;
}

input.browse {
	background:#d9d9d9;
	color:#7f7f7f;
}

/*Results sections*/
div.dots {
	color:#d9d9d9
	}
	
div.dots p {
	margin:0;
	padding:0
}

div.results_section {
	margin: 0 0 2% 0;
	border: 1px solid #f2f2f2
}

div.flex-parent_tm_tb {
	display:flex;
}
	
/*TM*/
h5.tm_title {
	margin:1%;
	color:#a6a6a6;
	}

div.tm_table {
	margin:3px;
	line-height:1.4;
	font-size:90%;
	text-overflow:ellipsis;
}

div.flex-child_tm {
	flex:5;
	min-width:70%;
}
div.tm_row {
	display:flex;
	margin:3px;
}
div.tm_cell_1 {
	background:#f2f2f2;
	flex:2;
	padding:1% 2%
}
div.tm_cell_2 {
	flex:2;
	background:#dbeef4;
	padding:1% 2%
	}

/*TB*/

h5.tb_title {
	margin:2%;
	font-size:120%;
	font-weight:bold;
	color: #000000;
	}
	
div.tb_legend {
	background:#f2f2f2;
	color:#7f7f7f;
	width:75%;
	padding:3%;
	margin:auto;
	font-size:90%
}
h5 {
	text-align:center;
	}

div.tb_table {
	padding: 2%;
	text-overflow:ellipsis;
}

div.flex-child_tb {
	flex:3;
	border:#7f7f7f;
	margin: 0 1%;
	min-width:260px;
}	
	
div.tb_row {
	margin:0%;
	padding:0%;
	display:flex;
	color:#7f7f7f;
}

div.tb_cell {
	flex:2;
	margin: 0% 0;
	padding: 2%;
	white-space: wrap;
	overflow: ;
	text-overflow: ellipsis;
	width: 100%;
	background: #ffffff;
	border: 1px solid #bfbfbf;
	line-height:1.3;
	font-size:110%
}


/*Download section*/

div.download {
	background:#39b4bb;
	color:#ffffff;
	margin-top:1%;
	padding: 1px 10px;
	width:300px;
	margin-left: auto;
	margin-right: auto;
}

div.download a {
	color:#ffffff;
}

/*Footer*/
div.patreon img {
	margin:auto;
	display:block;
}


	
div.footer {
	padding:1px;
	background:#d9d9d9;
	color:#a6a6a6;
	font-size:80%
	}

/*Global styles*/

.wrap    { 
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
} 

.text-center {
	text-align:center;
}

.error {
color: #D8000C;
background-color: #FFD2D2;
padding:1%;
margin: 0 40%;
}


mark {
background-color: #F1B90B;
}
