/*fonts*/
body {
		font-family:"Arial";
}
div.nav {
	text-align:right;
	letter-spacing:2px;
}

div.nav a {
	text-decoration:none;
}

div.content{}
div.logo{}
div.slogan {
	font-size:90%;
	font-weight:normal;
	letter-spacing:1px;
}
div.flex-child_description_h p {
	font-size:100%
}

div.description {
	font-size:130%;
	font-weight:normal;
	letter-spacing:1px;
}
div.icons {}
div.icon {}
div.upload {}
div.upload_options {}
div.tm_table {}
div.tm_row {}
div.tm_cell_1 {}
div.tm_cell_2 {}
div.tb_table {}
div.download {}
div.footer {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {text-align:center;}

.text-center {
	text-align:center;
}

p.description_p {
font-size:90%;
margin:0 10% 0 0}